<h2>Edit room: <%= @room.name %></h2>

<%= render "form.html", Map.put(assigns, :action, room_path(@conn, :update, @room)) %>
<%= link "Back", to: room_path(@conn, :show, @room.id), class: "btn btn-default" %>